body {
    background-color: #121212;
    color: rgb(206, 206, 206);
    font-family: 'Roboto', sans-serif;
  }
  
  p {
    font-family: sans-serif;
  }

  .logo {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 4%; 
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #202020;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap
  }
  
  .card .content {
    display: flex;
    flex-direction: column;
    max-width: 15em;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .card .content2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .card .likes {
    margin-inline-end: auto;
  }

  
  .card .download {
    background-color: #414141;
    border: none;
    color: rgb(206, 206, 206);
    display: flex;
    align-content: center;
    align-self: center;
    padding: 3%;
    border-radius: 100%;
    margin-inline-start: auto;
  }
  
  .card .download:hover {
    background-color: #505050;
  }
  
  .card .title {
    font-size: 1.2rem;
    font-weight: bold;
    text-overflow: ellipsis;;
    overflow: hidden;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    max-width: 15em;
  }

  .card .content .creator {
    color: aqua;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15em;
  }

  .button {
    color: rgb(11, 179, 245);
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
