<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <title>🚀 Mindustry</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <head>
    <link rel="stylesheet" href="static/template.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="static/normalize.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="image">
          <img src="https://via.placeholder.com/300x300" alt="placeholder" />
        </div>
        <div class="content">
          <div class="details">
            <div class="title">
              Some Mindustry schematic
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>
          <button class="download">
            <span class="material-icons">
              download
              </span>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="https://via.placeholder.com/300x300" alt="placeholder" />
        </div>
        <div class="content">
          <div class="details">
            <div class="title">
              Some Mindustry schematic
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>
          <button class="download">
            <span class="material-icons">
              download
              </span>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="https://via.placeholder.com/300x300" alt="placeholder" />
        </div>
        <div class="content">
          <div class="details">
            <div class="title">
              Some Mindustry schematic
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>
          <button class="download">
            <span class="material-icons">
              download
              </span>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="https://via.placeholder.com/300x300" alt="placeholder" />
        </div>
        <div class="content">
          <div class="details">
            <div class="title">
              Some Mindustry schematic
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>
          <button class="download">
            <span class="material-icons">
              download
              </span>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="https://via.placeholder.com/300x300" alt="placeholder" />
        </div>
        <div class="content">
          <div class="details">
            <div class="title">
              Some Mindustry schematic
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>
          <button class="download">
            <span class="material-icons">
              download
              </span>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="https://via.placeholder.com/300x300" alt="placeholder" />
        </div>
        <div class="content">
          <div class="details">
            <div class="title">
              Some Mindustry schematic
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>
          <button class="download">
            <span class="material-icons">
              download
              </span>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="https://via.placeholder.com/300x300" alt="placeholder" />
        </div>
        <div class="content">
          <div class="details">
            <div class="title">
              Some Mindustry schematic
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </div>
          <button class="download">
            <span class="material-icons">
              download
              </span>
          </button>
        </div>
      </div>
  </body>
</html>
